<!DOCTYPE html>
<html lang="de">

<head>
    <title>{{titel}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="wrapper">
        <header>
            <h1><a href="http://localhost:8080">M133 Dorfladen</a></h1>
            <hr>
        </header>
        <content>
            <div class="basket">
                <button onclick="location.href='http://localhost:8080/Warenkorb'">Warenkorb: CHF
                    {{twoDecimals basketValue}}</button>
            </div>
            <div class="shop">
                {{{body}}}
            </div>
        </content>
        <footer>
            <hr>
            <p>&copy; 2019 BBZW M133, Levin Joller</p>
        </footer>
    </div>
</body>

</html>