<form action="http://localhost:8080/api/order" method="POST">
    <label for="firstname">Vorname</label>
    <input type="text" name="firstname" placeholder="Vorname" required />
    <br>
    <label for="name">Nachname</label>
    <input type="text" name="name" placeholder="Nachname" required />
    <br>
    <label for="mail">Email-Adresse</label>
    <input type="email" name="mail" placeholder="Email-Adresse" required />
    <br>
    <input type="submit" value="Einkauf abschliessen">
</form>