<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/js/get-basket-value.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1><a href="http://localhost:8080">M133 Dorfladen</a></h1>
            <hr>
        </header>
        <content>
            <div class="basket">
                <button onclick="location.href='http://localhost:8080/Warenkorb'">Warenkorb</button>
            </div>
            <div class="shop">
                <form action="http://localhost:8080/api/order" method="POST">
                    <label for="firstname">Vorname</label>
                    <input type="text" name="firstname" placeholder="Vorname" required />
                    <br>
                    <label for="name">Nachname</label>
                    <input type="text" name="name" placeholder="Nachname" required />
                    <br>
                    <label for="mail">Email-Adresse</label>
                    <input type="email" name="mail" placeholder="Email-Adresse" required />
                    <br>
                    <input type="submit" value="Einkauf abschliessen">
                </form>
            </div>
        </content>
        <footer>
            <hr>
            <p>&copy; 2019 BBZW M133, Levin Joller</p>
        </footer>
    </div>
    <script>
        fetch('http://localhost:8080/api/getAlert')
            .then(x => x.json())
            .then(x => {
                if (x.showAlert && x.isSuccess) {
                    alert('Ihre Bestellung ist erfolgreich');
                } else if (x.showAlert && !x.isSuccess) {
                    alert('Fehlerhafte Eingabe');
                }
            });
    </script>
</body>

</html>