<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produkteübersicht</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="/assets/index.js"></script>
    <script src="/assets/basket_value.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1><a href="http://localhost:8080">M133 Dorfladen</a></h1>
            <hr>
        </header>
        <content>
            <div class="basket">
                <button onclick="location.href='http://localhost:8080/Warenkorb'">Warenkorb</button>
            </div>
            <div class="shop">
                <div class="products"></div>
            </div>
        </content>
        <footer>
            <hr>
            <p>&copy; 2019 BBZW M133, Levin Joller</p>
        </footer>
    </div>
</body>

</html>