<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produkteübersicht</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>M133 Dorfladen</h1>
            <hr>
        </header>
        <content>
            <div class="basket">
                <button>Warenkorb</button>
            </div>
            <div class="shop">
                <div class="products"></div>
            </div>
        </content>
        <footer>
            <hr>
            <p>&copy; 2019 BBZW M133, Levin Joller</p>
        </footer>
    </div>
    <script>
        fetch('http://localhost:8080/api/products')
            .then(x => x.json())
            .then(x => {
                let shopArea = document.querySelector('.products');
                let goods = "";
                x.forEach(product => {
                    goods += `
                    <div>
                        <figure>
                            <img src="./img/${product.imageName}" alt="${product.productName}" />
                            <figcaption>CHF ${product.specialOffer}
                                <span>CHF ${product.normalPrice}</span>
                            </figcaption>
                        </figure>
                    </div>`;
                });
                shopArea.innerHTML = goods;
                return x;
            })
            .then(x => {
                let tile = document.querySelectorAll('.products div');
                for (let i = 0; i < tile.length; i++) {
                    tile[i].addEventListener("click", function () {
                        location.href = `http://localhost:8080/Details/${x[i].id}`;
                    });
                }
            });
    </script>
</body>

</html>