.wrapper{
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
	grid-template-rows: 100px 4fr 100px;
    grid-template-areas: 
	". header ."
    ". content ."
    ". footer .";
    min-height: 100%;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0px;
}

header{
	grid-area: header;
    text-align: center;
}

content{
    grid-area: content;
    grid-template-rows: 30px auto;
}

footer{
	grid-area: footer;
    text-align: center;
}

.basket{
    height: 40px;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.shop{
    grid-row-start: 2;
    grid-row-end: 3;
}

.products{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.products > div{
	min-width: 200px;
    height: auto;
    border: 1px solid black;
    display: table;
}

.products > div:hover{
    /* scaling of the element to 105%. */
    transform: scale(1.02);
    /* increasing the spread by 1px and the opacity by 0.1 */
    box-shadow: 0 0 10px 0.5px lightgrey;
    cursor: pointer;
}

.products > div > figure img{
    /* Images default to being inline, inline items cannot have a width, so change to block: */
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.products > div > figure > figcaption{
    padding: 15px;
    text-align: center;
}