<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Warenkorb</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="/assets/basket_value.js"></script>
    <script src="/assets/warenkorb.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1><a href="http://localhost:8080">M133 Dorfladen</a></h1>
            <hr>
        </header>
        <content>
            <div class="basket">
                <button onclick="location.href='http://localhost:8080/Warenkorb'">Warenkorb</button>
            </div>
            <div class="shop">
                <table>
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th>Einzelpreis</th>
                            <th>Anzahl</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p id="totalPreis"></p>
                <button onclick="location.href='http://localhost:8080/Checkout'">Zur Bestellung</button>
            </div>
        </content>
        <footer>
            <hr>
            <p>&copy; 2019 BBZW M133, Levin Joller</p>
        </footer>
    </div>
</body>

</html>